<html>
    <head>
        <title>Baines int the buff: blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Baines in the Buff</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>My first great insite. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Another pearl of wisdom</p>
        </div>
    </body>
</html>
